

<header class="navegacion">
    <nav>
        <div class="menu">
            <a>
                <img alt="Nombre Empresa" src="../../assets/dos.jpg" width="5%" height="5%">
                <!--Nombre Empresa o logotipo-->
            </a>
            <ul>
                    <app-hijo  [propiedadUno]="'propiedadUno'"
                    [propiedadDos]="TipoConsultoria"
                    ></app-hijo>
                <li><a href="#noticias">Noticias</a></li>
                <li><a href="#galeria">Galeria</a></li>
                <li><a href="#Contactos">Contactos</a></li>
            </ul>
        </div>
    </nav>
</header>



<body>
    <div class="container">

        <div class="background london">
            <div class="contenido">
                <h1>Collage Anime</h1>
                <p></p>
            </div>
            <!--.contenido-->
        </div>
        <!--.london-->

        <div id="contenido-principal">
            <h2 class="titulo">Tipos De Anime</h2>
            <div class="noticias" id="noticias">
                <div class="noticia">
                    <img src="https://losanimesdemagrat.files.wordpress.com/2011/10/tumblr_ltj6f0hksj1r5s3g4o1_400.gif">
                    <h3>Komodo</h3>
                    <p>Está dirigido a los niños. Están ambientados y a la vez recrean el universo infantil. Son
                        coloristas y
                        están llenos de fantasía. Ejemplo: Doraemon.</p>
                    <a href="./noticia/noticia.component.html" class="btn">Lista del Genero Komodo</a>
                </div>
                <div class="noticia">
                    <img src="http://img.webme.com/pic/r/rincon-mangaka/shonen-jumps-small.jpg" width="400"
                        height="400">
                    <h3>Shonen</h3>
                    <p>Dirigidos a los adolescentes. Shonen significa “chico”. Las batallas y las competiciones
                        son
                        algunas de
                        las temáticas. Ejemplo: Dragon Ball.</p>
                    <a class="btn">Lista del Genero Shonen</a>
                </div>
                <div class="noticia">
                    <img src="https://www.ecured.cu/images/1/14/Shoujo.jpg" width="400" height="400">
                    <h3>Shojo</h3>
                    <p>Se dirige a las chicas adolescentes. Tratan temas de amor y sentimientos. Ejemplo: Candy.
                    </p>
                    <a class="btn">Lista del Genero Shojo</a>
                </div>
                <div class="noticia">
                    <img src="https://st-listas.20minutos.es/images/2015-04/396877/list_640px.jpg?1524363995"
                        width="400" height="400">
                    <h3>Seinen</h3>
                    <p> Dirigido a hombres adultos. Su contenido es parecido al Shonen, agregando más escenas de
                        violencia y
                        sexo explícito. Ejemplo: Black Lagoon.</p>
                    <a class="btn">Lista del Genero Seinen</a>
                </div>
                <div class="noticia">
                    <img src="https://pm1.narvii.com/6350/a4391f1cc620ab5600b6fe81c2a4eed5cfd9d8cc_hq.jpg" width="400"
                        height="400">
                    <h3>Josei</h3>
                    <p> Del japonés “mujer” se dirige al público femenino adulto. Su temática son relaciones
                        amorosas,
                        sentimientos y cierto contenido sexual.</p>
                    <a class="btn">Lista del Genero Josei</a>
                </div>
            </div>
            <!--.media-->

        </div>
        <!--#contenido-principal -->


        <div class="horario">
            <table>
                <caption>Mejores Paginas para ver Anime¡¡¡!!!</caption>
                <thead>
                    <tr>
                        <th>Sitio Web</th>
                        <th>Enlace</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> ANIMEFLV</td>
                        <a href="https://animeflv.net/ ">https://animeflv.net/</a>
                    </tr>
                    <tr>
                        <td>JKANIME</td>
                        <a href="http://jkanime.net/ ">http://jkanime.net/</a>
                    </tr>
                    <tr>
                        <td>REY ANIME</td>
                        <a href="https://reyanimeonline.com/ ">https://reyanimeonline.com/</a>
                    </tr>
                    <tr>
                        <td>ANIMEID</td>
                        <a href="https://www.animeid.tv/ ">https://www.animeid.tv/</a>
                    </tr>
                    <tr>
                        <td>ANIME MOVIL</td>
                        <a
                            href="https://coitinoga141897.wixsite.com/mundoanimetv">https://coitinoga141897.wixsite.com/mundoanimetv</a>
                    </tr>
                </tbody>
            </table>
        </div>




        <div id="galeria" class="galeria">
            <h2>Galería</h2>

            <li class="imagen">
                <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517820-mejores-animes-todos-tiempos.jpg?itok=8UoYzdRH"
                    width="200" height="200">
            </li>
            <li class="imagen">
                <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517824-mejores-animes-todos-tiempos.jpg?itok=KLH8xwPI"
                    width="200" height="200">
            </li>
            <li class="imagen">
                <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517826-mejores-animes-todos-tiempos.jpg?itok=W0EneJyQ"
                    width="200" height="200">
            </li>
            <li class="imagen">
                <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517828-mejores-animes-todos-tiempos.jpg?itok=aA_1NbRd"
                    width="200" height="200">
            </li>
            <li class="imagen">
                <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517830-mejores-animes-todos-tiempos.png?itok=QBcVPPwv"
                    width="200" height="200">
            </li>
            <li class="imagen">
                <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517832-mejores-animes-todos-tiempos.jpg?itok=WhVNcPRD"
                    width="200" height="200">
            </li>
            <li class="imagen">
                <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517834-mejores-animes-todos-tiempos.jpg?itok=xj1r_qkS"
                    width="200" height="200">
            </li>
            <li class="imagen">
                <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2015/09/517836-mejores-animes-todos-tiempos.jpg?itok=zYTT00Bq"
                    width="200" height="200">
            </li>
        </div>
        <!--.servicios-->

    </div>
    <!--.container -->

    <div class="col-md-5 col-md-push-1 animate-box">
        <table>

            <div class="fh5co-contact-info">
                <h3>Información</h3>
                <ul style="color:black">
                    <li>10 de agosto y la colon <br> Quito-Ecuador</li>
                    <li><a>+ 1235 2355 98</a></li>
                    <li><a>info@Aniime.com.ec</a></li>
                    <li><a href="https://animeflv.net/">=>Direccion de la pagina <=</a> </li> </ul> </div> <div
                                id="Contactos" class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="row animate-box">
                                        <div class="item">
                                            <div class="testimony-slide active text-center">
                                                <figure>
                                                    <img src="../assets/person3.jpg" alt="user">
                                                </figure>
                                                <span>Roger <a
                                                        href="https://www.facebook.com/rogerstick.cedenopalma?ref=bookmarks">Perfil
                                                        facebook</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            </div>
        </table>
    </div>
    <div id="Contactos" class="col-md-6 animate-box">
        <h3>Estar en contacto</h3>
        <form [formGroup]="loginform" action="#">
            <div class="row form-group">
                <div>
                    <input type="text" id="name" class="form-control" formControlName="usuario" placeholder="Nombres">
                </div>
            </div>


            <div class="row form-group">
                <div class="col-md-12">
                    <input type="text" id="email" class="form-control" formControlName="email"
                        placeholder="Correo Electronico">
                </div>
            </div>



            <div class="form-group">
                <div formArrayName="telefonos">
                    <div *ngFor="let iten of gettelefonos.controls; let i=index " [formGroupName]="i">
                        <input type="texto" class="form-control" formControlName="telefono" placeholder="telefono." />
                        <input type="texto" class="form-control" formControlName="operadora" placeholder="operadora." />
                        <a class="btn" wi type="button" (click)="deleteTel(i)">-</a>
                    </div>
                </div>
                <a class="btn" (click)="addtelefono()">add telefono</a>

            </div>






            <div class=" form-group">
                <div>
                    <label>Tipo De Consultoria</label>
                </div>
                <div id="label" class="form-check form-check-inline"
                    *ngFor="let control of gettiposS.controls;let i=index;">
                    <input class="form-control" class="form-chech-input" (change)="getseleccionTipo()"
                        [formControl]="control" type="checkbox" id="inlineCheckbox{{i}}">
                    <label class="form-check.label" for="inlineCheckbox1">{{TipoConsultoria[i]}}</label>
                </div>
                <small id="small" *ngIf="tipoError" class="form-text custon-invalid-feedback">Escoja una</small>
            </div>







            <div class="row form-group">
                <div class="col-md-12">
                    <input type="password" id="sujeto" formControlName="password" class="form-control"
                        placeholder="Password.">
                </div>
            </div>




            <div class="row form-group">
                <div class="col-md-12">
                    <textarea name="message" id="message" cols="30" rows="10" class="form-control"
                        placeholder="Comentarios y sugerencias"></textarea>
                </div>
            </div>





            <div class="form-group">
                <input type="submit" value="Enviar Mensaje" [disabled]="!loginform.valid" (click)="validaLoginForm()"
                    class="colorbutton secundario">
            </div>


        </form>


    </div>
<div id="Contactos" class="col-md-6 animate-box">
    <form [formGroup]="UsuarioForm" action="#">
        <div class="row form-group">
            <div>
                <input class="form-control" formControlName="nombre" placeholder="nombre">
            </div>
        </div>
        <div class="row form-group">
            <div>
                <input class="form-control" formControlName="cedula" placeholder="cedula">
            </div>
            <div formArrayName="Utelefonos">
                <div *ngFor="let utelefono of UsuarioForm.get('Utelefonos').controls; let i=index; "
                    [formGroupName]="i">
                    <select class="form-control" formControlName="operadora">
                        <option class="form-control" value="999">seleccione operadora...</option>
                        <option class="form-control" *ngFor="let operadora of operadoras;let j=index;" value={{j}}>
                            {{operadora}}
                        </option>
                    </select>
                    <input class="form-control" formControlName="numero" placeholder="numero">
                    <a class="btn" (click)="eliminartelefono(i)">-</a>
                </div>
                <a class="btn" (click)="addtelefonoForm()">+</a>
            </div>
        </div>
        <app-hijo2  class="btn" (cambio)="(funcionE$event)">  </app-hijo2>
        <a class="btn" >{{operadoras}}</a>
    </form>
   
</div>

</body>