.background {
    display: table;
    width:100%;
    position: relative;
    .contenido {
      display: table-cell;
      vertical-align: bottom;
      padding: 0 20px 20px 20px;
      position: relative;
      font-size:1.3rem;
      p {
        color:$blanco;
        font-weight: 700;
      }
    }
  }
  .london {
    @include bg_covertint ($r_deep_blue,$g_deep_blue,$b_deep_blue,$r_light_blue,$g_light_blue,$b_light_blue,$alpha_cover,$cover_picture);
    background-color: $blanco;
	height: 50vh;
}
