body {
    @include text_body;
    background-color: $blanco;
}
#Contactos{
@include text_body;
text-align: center;
height:  100%;

}
figure img{
    border-radius:150px;
    width:20%;
    border-width: 3px;
    border-style: solid;
    border-color: $verde;
}


.colorbutton{
    @include border-radius(5px);
   font-size: 15em;
    @include button(map-keys($buttonscolors)...);
}

.texto1{
    @include border-radius(5px);
 font-size: 20em;
}

#label{
    font : .8em "typewriter", sans-serif;
    font-size: 20em;
    color: $azul;
}
#small{
    font-size: 20em;
    color: $rojo;
}