footer{
    position: fixed; 
    bottom: 0;
    width: 40%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15em;
    background-color:rgba(2, 124, 104, 0.561);
    margin: 0.1cm
   
}