h1, h2, h3, h4, h5, h6 {
    color:$color-titulos;
    font-family: $fuente-titulos;
  }
  
  .container {
    margin: 0 auto;
    @include clearfix;
    @include desktop {
      width: 1000px;
    }
  }
  
  .row {
    @include clearfix;
  }
  
  [class*='col-'] {//todas las clases que tengan col- tendran las siguientes caracteristicas..debido a [class*='col-']
    @include border-box;
    float:left;
    padding:1em;
  }
  
  
  div.caption {
    min-height: 80px;
  }
  